{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/preset-react",
    "stage-0",
    "react",
    "env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}