.navitem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.navitem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 1rem 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.navitem a:hover, 
.navitem a:focus,
.navitem a:active,
.navitem a.active {
  background-color: #8F5C2C;
  border-bottom: 4px solid #40A4C8;
  color: white;
}